<div class="d-none d-sm-none d-md-block">
    <ul class="nav justify-content-center grey lighten-4 py-2 mt-1 mb-4">
        <li class="nav-item">
            <a class="nav-link <%= road === '/product' ? 'pink-text' : 'indigo-text' %>" href="/user/product"><i class="fas fa-user-lock mr-1"></i>Mes Produits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= road === '/shop' ? 'pink-text' : 'indigo-text' %>" href="/user/shop"><i class="fas fa-store mr-1"></i>Mes Boutiques</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= road === '/announce' ? 'pink-text' : 'indigo-text' %>" href="/user/announce"><i class="far fa-list-alt mr-1"></i>Mes Annonces</a>
        </li>
    </ul>
</div>

<div class="d-block d-sm-block d-md-none">
    <ul class="nav flex-column grey lighten-4 py-2 mb-4">
        <li class="nav-item">
            <a class="nav-link <%= road === '/product' ? 'pink-text' : 'indigo-text' %>" href="/user/product"><i class="fas fa-user-lock mr-1"></i>Mes Produits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= road === '/shop' ? 'pink-text' : 'indigo-text' %>" href="/user/shop"><i class="fas fa-store mr-1"></i>Mes Boutiques</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= road === '/announce' ? 'pink-text' : 'indigo-text' %>" href="/user/announce"><i class="far fa-list-alt mr-1"></i>Mes Annonces</a>
        </li>
    </ul>
</div>