    <!-- Head -->
    <%- include('partial/head.ejs') %>

    <style>
        .md-accordion .card, .md-accordion .card:first-of-type, .md-accordion .card:not(:first-of-type):not(:last-of-type){
            border-bottom: 0px solid #e0e0e0;
        }
    </style>

</head>

<body>
    <!-- Navbar -->
    <%- include('partial/navbar.ejs') %>

    <main>
        <br><br><br>
        <div class="container">
            <h1 class="mt-5 ml-5">hello Word</h1>
        </div>
        <br><br><br>
    </main>

    <!-- Modal -->
    <%- include('partial/modal.ejs') %>
    <!-- Footer -->
    <%- include('partial/footer.ejs') %>
    <!-- Script -->
    <%- include('partial/script.ejs') %>
    <!-- Password Validation -->
    <%- include('partial/password.ejs') %>

</body>

</html>