    <!-- Head -->
    <%- include('partial/structure/head.ejs') %>

</head>

<body>

    <!-- HEADER -->
    <header class="mb-4">
        <%- include('partial/structure/navbar.ejs') %> <!-- Navbar -->
    </header>

    <!-- MAIN -->
    <main>
        <section class="container index">
            <h1 class="m-5">hello Word</h1>
            <%- include('partial/component/flash_msg.ejs') %>
        </section>
        <br><br><br>
    </main>

    <!-- MODAL -->
    <%- include('partial/component/modal.ejs') %>

    <!-- FOOTER -->
    <footer class="page-footer font-small special-color-dark">
        <%- include('partial/structure/footer.ejs') %>
    </footer>

    <!-- Script -->
    <%- include('partial/structure/script.ejs') %>

</body>

</html>