    <!-- Head -->
    <%- include('partial/structure/head.ejs') %>

</head>

<body>

    <!-- HEADER -->
    <header>
        <%- include('partial/structure/navbar.ejs') %> <!-- Navbar -->
    </header>

    <!-- MAIN -->
    <main>

        <!-- PARALAX -->
        <%- include('partial/component/paralax.ejs') %>

        <section class="container index">

            <h5 class="font-weight-bold mt-5 ml-1"><strong>NOS MEILLIEURS CATEGORIES</strong></h5>
            <hr class="red title-hr mt-0 mb-2">
            <%- include('partial/component/best_categorie.ejs') %>
            
            <h5 class="font-weight-bold mt-4 ml-1"><strong>NOS MEILLIEURS BOUTIQUES</strong></h5>
            <hr class="red title-hr mt-0 mb-2">
            <div class="row">
                <%- include('partial/component/best_boutique.ejs') %>
            </div>

            <h5 class="font-weight-bold mt-4 ml-1"><strong>NOS MEILLIEURS PRODUIT</strong></h5>
            <hr class="red title-hr mt-0 mb-2">
            <div class="row">
                <%- include('partial/component/best_product.ejs') %>
            </div>

            <h5 class="font-weight-bold mt-4 ml-1"><strong>NOS MEILLIEURS ANNONCES</strong></h5>
            <hr class="red title-hr mt-0 mb-2">
            <div class="row">
                <%- include('partial/component/best_announce.ejs') %>
            </div>

            <h5 class="font-weight-bold mt-4 ml-1"><strong>NOUS CONTACTER</strong></h5>
            <hr class="red title-hr mt-0 mb-2">
            <%- include('partial/form/contact.ejs') %>

        </section>
    </main>

    <!-- MODAL -->
    <%- include('partial/component/modal.ejs') %>

    <!-- FOOTER -->
    <footer class="page-footer font-small special-color-dark">
        <%- include('partial/structure/footer.ejs') %>
    </footer>

    <!-- Script -->
    <%- include('partial/structure/script.ejs') %>

</body>

</html>