    <!-- Head -->
    <%- include('partial/head.ejs') %>
</head>

<body>
    <!-- Navbar -->
    <%- include('partial/navbar.ejs') %>

    <main>
        <br><br><br>
        <h1 class="mt-5 ml-5">hello Word</h1>
        <div class="container">
            <%- include('partial/flash_msg.ejs') %>
        </div>
        <br><br><br>
    </main>

    <!-- Footer -->
    <%- include('partial/footer.ejs') %>
    <!-- Script -->
    <%- include('partial/script.ejs') %>