    <!-- Head -->
    <%- include('partial/head.ejs') %>

    <style>
        .md-accordion .card, .md-accordion .card:first-of-type, .md-accordion .card:not(:first-of-type):not(:last-of-type){
            border-bottom: 0px solid #e0e0e0;
        }
        .fa.fa-heart:hover {
            color: #f44336 !important;
        }
        .card-img-top {
            width: 110%;
        }
    </style>

</head>

<body>

    <!-- HEADER -->
    <header class="mb-4">
        <%- include('partial/navbar.ejs') %> <!-- Navbar -->
    </header>

    <!-- MAIN -->
    <main>
        <br><br><br>
        <!-- Container -->
        <section class="container products">

            <!-- Row -->
            <div class="row">

                <!-- article -->
                <article class="col-xl-8 col-lg-8">

                    <h5 class="font-weight-bold mt-0 ml-1"><strong>LATESTS NEWS</strong></h5>
                    <hr class="red title-hr mt-0">

                    <!-- Row Div 1 -->
                    <div class="row">

                        <!-- Div -->
                        <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 mb-3">
                            <%- include('partial/card_grid_product.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 mb-3">
                            <%- include('partial/card_grid_product.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 mb-3">
                            <%- include('partial/card_grid_product.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 mb-3">
                            <%- include('partial/card_grid_product.ejs') %>
                        </div>

                    </div>
                    <!-- Row Div 1 -->
                    <br>

                </article>
                <!-- article -->

                <!-- aside -->
                <aside class="col-xl-4 col-lg-4 mb-3">
                    <%- include('partial/categorie.ejs') %>
                    <br>
                    <%- include('partial/ville.ejs') %>
                </aside>
                <!-- aside -->

            </div>
            <!-- Row -->

        </section>
        <!-- Container -->

    </main>
    <br><br><br>

    <!-- MODAL -->
    <%- include('partial/modal.ejs') %>

    <!-- FOOTER -->
    <footer class="page-footer font-small special-color-dark">
        <%- include('partial/footer.ejs') %>
    </footer>

    <!-- Script -->
    <%- include('partial/script.ejs') %>

</body>

</html>