    <!-- Head -->
    <%- include('partial/head.ejs') %>

</head>

<body>

    <!-- HEADER -->
    <header class="mb-4">
        <%- include('partial/navbar.ejs') %> <!-- Navbar -->
    </header>

    <!-- MAIN -->
    <main>
        <br><br><br>
        <!-- Container -->
        <section class="container shops"> 

            <div class="row">

                <!-- article -->
                <article class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">

                    <!-- d-flex liste and grid and latest -->
                    <div class="d-flex justify-content-between">
                        <div>
                            <h5 class="font-weight-bold mt-0 ml-1"><strong>LATESTS NEWS</strong></h5>
                        </div>
                        <div>
                            <div class="float-right d-none d-sm-block">            
                                <a href="/shopsListe" class="black-text"><i class="fa fa-th-list" aria-hidden="true"></i></a>
                                <a href="/shopsGrid" class="black-text"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                            </div>    
                        </div>
                    </div>

                    <hr class="red title-hr mt-0 mb-2">

                    <!-- BreadCrump -->
                    <%- include('partial/breadcrump.ejs') %>

                    <!-- Row Div 1 -->
                    <div class="container px-2">

                        <div class="row">

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>
                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                            <!-- Div -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                                <%- include('partial/card_grid_shop.ejs') %>
                            </div>

                        </div>

                    </div>
                    <!-- Row Div 1 -->

                    <!-- Paginate -->
                    <%- include('partial/paginate.ejs') %>
                    <!-- Paginate -->

                </article>
                <!-- article -->

                <!-- aside -->
                <aside class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                    <%- include('partial/categorie.ejs') %>
                    <br>
                    <%- include('partial/ville.ejs') %>
                </aside>
                <!-- aside -->

     
            </div>
            
        </section>
        <!-- Container -->

    </main>
    <br><br><br>

    <!-- MODAL -->
    <%- include('partial/modal.ejs') %>

    <!-- FOOTER -->
    <footer class="page-footer font-small special-color-dark">
        <%- include('partial/footer.ejs') %>
    </footer>

    <!-- Script -->
    <%- include('partial/script.ejs') %>

</body>

</html>