    <!-- Head -->
    <%- include('../partial/structure/head.ejs') %>

    <style>
        .dashboard-icon {
            background: rgba(158, 158, 158, 0.5);
            border-radius: 50%;
            height: 2.5em;
            width: 2.5em;
        }
    </style>

</head>

<body>

    <!-- HEADER -->
    <header class="mb-4">
        <%- include('../partial/structure/navbar.ejs') %> <!-- Navbar -->
    </header>

    <!-- MAIN -->
    <main class="container mb-2">
        
        <!-- Row -->
        <div class="row">

            <!-- aside -->
            <aside class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">

                <div class="row">
                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12 mb-4">
                        <%- include('../partial/dashboard/user_account.ejs') %>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12 mb-4">
                        <%- include('../partial/dashboard/quick_link.ejs') %>
                    </div>
                </div>
            </aside>
            <!-- aside -->

            <!-- article -->
            <section class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">

                <article>
                    <%- include('../partial/dashboard/dashboard_card.ejs') %>
                </article>

            </section>
            <!-- article -->

            

        </div>
        <!-- Row -->

    </main>

    <!-- MODAL -->
    <%- include('../partial/component/modal.ejs') %>

    <!-- FOOTER -->
    <footer class="page-footer font-small special-color-dark">
        <%- include('../partial/structure/footer.ejs') %>
    </footer>

    <!-- Script -->
    <%- include('../partial/structure/script.ejs') %>

</body>

</html>