    <!-- Head -->
    <%- include('../partial/head.ejs') %>

</head>

<body>

    <!-- HEADER -->
    <header class="mb-4">
        <%- include('../partial/navbar.ejs') %> <!-- Navbar -->
    </header>

    <!-- MAIN -->
    <main class="mb-2">
        <!-- Container -->
        <section class="container profile"> 

            profile

        </section>
        <!-- Container -->

    </main>

    <!-- MODAL -->
    <%- include('../partial/modal.ejs') %>

    <!-- FOOTER -->
    <footer class="page-footer font-small special-color-dark">
        <%- include('../partial/footer.ejs') %>
    </footer>

    <!-- Script -->
    <%- include('../partial/script.ejs') %>

</body>

</html>