    <!-- Head -->
    <%- include('../partial/head.ejs') %>

    <style>
        .md-accordion .card, .md-accordion .card:first-of-type, .md-accordion .card:not(:first-of-type):not(:last-of-type){
            border-bottom: 0px solid #e0e0e0;
        }
    </style>
    
</head>

<body>
    <!-- Navbar -->
    <%- include('../partial/navbar.ejs') %>

    <main>

        <!-- Container -->
        <div class="container">
            <br><br><br>
            
              <h1>Profile</h1>

        </div>
        <!-- Container -->

    </main>

    <!-- Modal -->
    <%- include('../partial/modal.ejs') %>
    <!-- Footer -->
    <%- include('../partial/footer.ejs') %>
    <!-- Script -->
    <%- include('../partial/script.ejs') %>

</body>

</html>