    <!-- Head -->
    <%- include('../partial/structure/head.ejs') %>

</head>

<body>

    <!-- HEADER -->
    <header class="mb-4">
        <%- include('../partial/structure/navbar.ejs') %> <!-- Navbar -->
    </header>

    <!-- MAIN -->
    <main class="container mb-2">
        
        <!-- Row -->
        <div class="row">

            <!-- aside -->
            <aside class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                <%- include('../partial/dashboard.ejs') %>       
            </aside>
            <!-- aside -->

            <!-- article -->
            <section class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">


                <h5 class="font-weight-bold mt-0 ml-1"><strong><i class="fas fa-store mr-2"></i>BOUTIQUES</strong></h5>
                <hr class="red title-hr mt-0 mb-2">

                <article>

                    <!-- BreadCrump -->
                    <%- include('../partial/component/breadcrump.ejs') %>

                    <!-- Editable table -->
                    <%- include('../partial/card_shop/liste.ejs') %>
                    <br>
                    <%- include('../partial/card_shop/liste.ejs') %>
                    <br>
                    <%- include('../partial/card_shop/liste.ejs') %>
                    <br>
                    <%- include('../partial/card_shop/liste.ejs') %>
                    <br>
                    <!-- Editable table -->

                    <!-- Paginate -->
                    <%- include('../partial/component/paginate.ejs') %>
                    <!-- Paginate -->

                </article>

            </section>
            <!-- article -->

            

        </div>
        <!-- Row -->

    </main>

    <!-- MODAL -->
    <%- include('../partial/component/modal.ejs') %>

    <!-- FOOTER -->
    <footer class="page-footer font-small special-color-dark">
        <%- include('../partial/structure/footer.ejs') %>
    </footer>

    <!-- Script -->
    <%- include('../partial/structure/script.ejs') %>

</body>

</html>