    <!-- Head -->
    <%- include('../partial/structure/head.ejs') %>

</head>

<body>

    <!-- HEADER -->
    <header class="mb-4">
        <%- include('../partial/structure/navbar.ejs') %> <!-- Navbar -->
    </header>

    <!-- MAIN -->
    <main class="container mb-2">

        <div class="row">

            <!-- Container -->
            <section class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">

                <!-- article 1 -->
                <article class="mb-2">
                    <h5 class="font-weight-bold mt-0 ml-1"><strong><i class="fas fa-shopping-bag"></i> PRODUCTS</strong></h5>
                    <hr class="red title-hr mt-0 mb-2">
                    <!-- BreadCrump -->
                    <%- include('../partial/component/breadcrump.ejs') %>
                    <!-- Lightbox -->
                    <div class="card mb-3">
                        <div class="card-body p-0">
                            <div class="row">

                                <div class="col-md-12">
                                    
                                    <div id="mdb-lightbox-ui"></div>
                                    
                                    <div class="mdb-lightbox">
                                    
                                        <figure class="col-md-4 p-1 animated jackInTheBox">
                                            <a href="../../img/nike-1.jpg" data-size="1600x1067">
                                            <img src="../../img/nike-1.jpg" class="img-fluid" />
                                            </a>
                                        </figure>
                                    
                                        <figure class="col-md-4 p-1 animated jackInTheBox">
                                            <a href="../../img/nike-2.jpg" data-size="1600x1067">
                                            <img src="../../img/nike-2.jpg" class="img-fluid" />
                                            </a>
                                        </figure>
                                    
                                        <figure class="col-md-4 p-1 animated jackInTheBox">
                                            <a href="../../img/nike-3.jpg" data-size="1600x1067">
                                            <img src="../../img/nike-3.jpg" class="img-fluid" />
                                            </a>
                                        </figure>
                                    
                                        <figure class="col-md-4 p-1 animated jackInTheBox">
                                            <a href="../../img/nike-4.jpg" data-size="1600x1067">
                                            <img src="../../img/nike-4.jpg" class="img-fluid" />
                                            </a>
                                        </figure>
                                    
                                        <figure class="col-md-4 p-1 animated jackInTheBox">
                                            <a href="../../img/nike-5.jpg" data-size="1600x1067">
                                            <img src="../../img/nike-5.jpg" class="img-fluid" />
                                            </a>
                                        </figure>
                                    
                                        <figure class="col-md-4 p-1 animated jackInTheBox">
                                            <a href="../../img/nike-6.jpg" data-size="1600x1067">
                                            <img src="../../img/nike-6.jpg" class="img-fluid" />
                                            </a>
                                        </figure>
                                    
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Description Boutiques -->
                    <!-- Card -->
                    <div class="card">
                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h5 class="font-weight-bold red-text mb-3 pt-1"><i class="fab fa-product-hunt"></i> Nike VaporFly 4% Flyknit .</h5>
                            <!-- Text -->
                            <p class="card-text black-text my-1"><i class="fas fa-tags mr-1"></i> <strong>CATEGORIE :</strong> Electroménagé .</p>
                            <p class="card-text black-text my-1"><i class="fas fa-map-marker-alt mr-1"></i> <strong>ADRESSE :</strong> 22 rue du petit fief 91700 Sainte Geneviève Des Bois Essonne - Ile-de-France .</p>
                            <p class="card-text black-text my-1"><i class="fas fa-mobile-alt mr-1"></i> <strong>TÉLÉPHONE :</strong> 06-56-22-24-31 .</p>
                            <p class="card-text black-text my-1"><i class="fas fa-info-circle mr-1"></i> <strong>DESCRIPTION :</strong> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet .</p>
                        </div>
                    </div>
                    <!-- Card -->
                </article>
                <!-- article 1 -->
                <br>
                <!-- article 2 -->
                <article class="mb-4">
                    <%- include('../partial/comment/product_form.ejs') %>

                    <div class="card mb-2">
                        <div class="card-body p-3">
                            <h5 class="mb-0"><i class="fas fa-comments"></i> Liste of Comments</h5>
                        </div>
                    </div>

                    <%- include('../partial/comment/product_comment.ejs') %>
                    <%- include('../partial/comment/product_comment.ejs') %>
                    <%- include('../partial/comment/product_comment.ejs') %>
                    <%- include('../partial/comment/product_comment.ejs') %>
                    <%- include('../partial/comment/product_comment.ejs') %>
                    <%- include('../partial/comment/product_comment.ejs') %>
                    <%- include('../partial/comment/product_comment.ejs') %>
                    <%- include('../partial/comment/product_comment.ejs') %>
                    <%- include('../partial/comment/product_comment.ejs') %>
                    <br>

                    <!-- Paginate -->
                    <%- include('../partial/component/paginate.ejs') %>
                    <!-- Paginate -->

                </article>
                <!-- article 2 -->
          
            </section>
            <!-- Container -->

            <!-- aside -->
            <aside class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mb-4">
                        <%- include('../partial/categorie.ejs') %>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mb-4">
                        <%- include('../partial/ville.ejs') %>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mb-2">
                        <h5 class="font-weight-bold mt-0 ml-1"><strong><i class="fas fa-star amber-text"></i> TOP 10 PRODUCTS</strong></h5>
                        <hr class="red title-hr mt-0">
                        <%- include('../partial/card_product/best.ejs') %>
                        <%- include('../partial/card_product/best.ejs') %>
                        <%- include('../partial/card_product/best.ejs') %>
                        <%- include('../partial/card_product/best.ejs') %>
                        <%- include('../partial/card_product/best.ejs') %>
                        <%- include('../partial/card_product/best.ejs') %>
                        <%- include('../partial/card_product/best.ejs') %>
                        <%- include('../partial/card_product/best.ejs') %>
                        <%- include('../partial/card_product/best.ejs') %>
                        <%- include('../partial/card_product/best.ejs') %>
                    </div>
                </div>
            </aside>
            <!-- aside -->


        </div>

    </main>

    <!-- MODAL -->
    <%- include('../partial/component/modal.ejs') %>

    <!-- FOOTER -->
    <footer class="page-footer font-small special-color-dark">
        <%- include('../partial/structure/footer.ejs') %>
    </footer>

    <!-- Script -->
    <%- include('../partial/structure/script.ejs') %>

</body>

</html>