    <!-- Head -->
    <%- include('../partial/structure/head.ejs') %>

</head>

<body>

    <!-- HEADER -->
    <header class="mb-4">
        <%- include('../partial/structure/navbar.ejs') %> <!-- Navbar -->
    </header>

    <!-- MAIN -->
    <main class="mb-2">
        
        <!-- Container -->
        <section class="container products"> 

            <div class="row">

                <!-- article -->
                <article class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">

                    <!-- d-flex liste and grid and latest -->
                    <div class="d-flex justify-content-between">
                        <div>
                            <h5 class="font-weight-bold mt-0 ml-1"><strong><i class="fas fa-shopping-basket"></i> PRODUCTS</strong></h5>
                        </div>
                        <div class="pt-1">
                            <a href="#" class="dropdown-toggle font-weight-bold black-text mr-2" type="button" id="dropdownFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><small><i class="fas fa-filter"></i></small> Filter By</a>
                            <!--Menu Filter-->
                            <div class="dropdown-menu">
                                <a class="font-weight-bold dropdown-item" style="font-size:0.9rem" href="#"><i class="fas fa-hourglass-start mr-1"></i>Urgent</a>
                                <a class="font-weight-bold dropdown-item" style="font-size:0.9rem" href="#"><i class="fas fa-sort-numeric-up mr-1"></i>Prix Croissant</a>
                                <a class="font-weight-bold dropdown-item" style="font-size:0.9rem" href="#"><i class="fas fa-sort-numeric-down mr-1"></i>Prix Décroissant</a>
                            </div>
                            <div class="float-right d-none d-sm-block">            
                                <a href="/product/liste" class="black-text"><i class="fas fa-list"></i></a>
                                <a href="/product/grid" class="black-text"><i class="fas fa-th"></i></a>
                            </div>    
                        </div>
                    </div>

                    <hr class="red title-hr mt-0 mb-2">

                    <!-- BreadCrump -->
                    <%- include('../partial/component/breadcrump.ejs') %>

                    <!-- Row Div 1 -->

                    <div class="row px-2">

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_1.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_2.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_3.ejs') %>
                        </div>

                         <!-- Div -->
                         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_4.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_5.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_6.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_7.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_8.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_9.ejs') %>
                        </div>
                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_10.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_11.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_12.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_13.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_14.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_15.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_1.ejs') %>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_2.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_3.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_4.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_5.ejs') %>
                        </div>

                        <!-- Div -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 px-2 mb-2">
                            <%- include('../test/product_6.ejs') %>
                        </div>

                    </div>

                    <!-- Row Div 1 -->

                    <!-- Paginate -->
                    <%- include('../partial/component/paginate.ejs') %>
                    <!-- Paginate -->

                </article>
                <!-- article -->

                <!-- aside -->
                <aside class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mb-4">
                            <%- include('../partial/categorie.ejs') %>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mb-4">
                            <%- include('../partial/ville.ejs') %>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mb-2">
                            <h5 class="font-weight-bold mt-0 ml-1"><strong><i class="fas fa-star amber-text"></i> TOP 10 PRODUCTS</strong></h5>
                            <hr class="red title-hr mt-0">
                            <%- include('../partial/card_product/best.ejs') %>
                            <%- include('../partial/card_product/best.ejs') %>
                            <%- include('../partial/card_product/best.ejs') %>
                            <%- include('../partial/card_product/best.ejs') %>
                            <%- include('../partial/card_product/best.ejs') %>
                            <%- include('../partial/card_product/best.ejs') %>
                            <%- include('../partial/card_product/best.ejs') %>
                            <%- include('../partial/card_product/best.ejs') %>
                            <%- include('../partial/card_product/best.ejs') %>
                            <%- include('../partial/card_product/best.ejs') %>
                        </div>
                    </div>
                </aside>
                <!-- aside -->

            </div>

            <!-- Button Back Top -->
            <%- include('../partial/component/back_top.ejs') %>
            
        </section>
        <!-- Container -->

    </main>

    <!-- MODAL -->
    <%- include('../partial/component/modal.ejs') %>

    <!-- FOOTER -->
    <footer class="page-footer font-small special-color-dark">
        <%- include('../partial/structure/footer.ejs') %>
    </footer>

    <!-- Script -->
    <%- include('../partial/structure/script.ejs') %>

</body>

</html>