<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
    <%- include('../../test/magazin_1.ejs') %>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
    <%- include('../../test/magazin_2.ejs') %>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
    <%- include('../../test/magazin_3.ejs') %>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
    <%- include('../../test/magazin_4.ejs') %>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
    <%- include('../../test/magazin_5.ejs') %>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
    <%- include('../../test/magazin_6.ejs') %>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
    <%- include('../../test/magazin_7.ejs') %>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
    <%- include('../../test/magazin_8.ejs') %>
</div>
<div class="d-none d-md-block d-lg-none col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
    <%- include('../../test/magazin_1.ejs') %>
</div>
