<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
        <%- include('../card_announce/liste.ejs') %>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
        <%- include('../card_announce/liste.ejs') %>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
        <%- include('../card_announce/liste.ejs') %>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
        <%- include('../card_announce/liste.ejs') %>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
        <%- include('../card_announce/liste.ejs') %>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
        <%- include('../card_announce/liste.ejs') %>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
        <%- include('../card_announce/liste.ejs') %>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
        <%- include('../card_announce/liste.ejs') %>
</div>
